.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 140px;

    &__box {
        height: 44px;
        box-sizing: border-box;
        color: black;
        padding: 8px 16px;
        list-style-type: none;
        @include flex_row(unset);
        border: 1px #EBEBEB solid;
        border-radius: 2px;
        align-items: center;
    }

    &__item {
        padding: 12px;
        transition: all 0.2s;
        &:hover {
            background-color: $accent-color-dark;
            color: $text-color-light;
        }
    }
    
    &__item:hover .pagination__link {
        color: $text-color-light;
    }

    &__link {
        text-decoration: none;
        @include text_styles($text-color-dark, 16px, 300, normal);
        opacity: 0.3;
    }

    &__link-active {
        @include text_styles($accent-color-dark, 16px, 300, normal);
        opacity: 1;
    }

    &__link-nav {
        opacity: 1;
    }
}