.registration {
    @include flex_row(128px);
    box-sizing: border-box;
    padding-top: 64px;
    padding-bottom: 96px;

    &__form-address {
        @include flex_column(23px);
    }

    &__input-container {
        border: none;
        @include flex_column(20px);
    }

    &__input-title {
        @include text_styles($text-color-dark, 16px, 300, normal);
    }

    &__input {
        box-sizing: border-box;
        border: 1px solid #A4A4A4;
        padding: 13px;
        width: 359px;
        height: 44px;
        @include text_styles(#B1B1B1, 13px, 300, normal);

        &:focus, &:valid {
            color: $text-color-dark;
        }
    }

    &__radioboxes {
        @include flex_row(21px);
    }

    &__radiobox {
        @include flex_row(10px);
    }

    &__label {
        @include text_styles($text-color-dark, 11px, 300, normal);
    }

    &__contaner-right {
        @include flex_column(21px);
    }

    &__title {
        @include text_styles($text-color-dark, 24px, 300, normal);
    }

    &__text {
        @include text_styles($text-color-dark, 24px, 300, normal);
    }

    &__advantages {
        list-style-type: none;
        @include flex_column(16px);
    }

    &__advantage {
        @include flex_row(23px);
        align-items: center;
    }

    &__advantage-mark {
        width: 20px;
        height: 16px;
    }

    &__button-submit {
        margin-top: 39px;
        width: 167px;
        min-height: 50px;
        @include text_styles($background-color-main, 14px, 400, normal);
        border: 1px solid currentColor;
        @include flex_row(20px);
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s;
        cursor: pointer;
        background-color: $background-color-main;
        color: $accent-color;
        transition: all 0.3s;
        margin-bottom: 64px;
        padding-left: 29px;
        &:hover {
            background-color: $accent-color;
            color: $text-color-light;
        }
    }
    
    &__button-icon {
        fill: $accent-color-dark;
        padding-right: 20px;
        transition: all 0.3s;
    }

    
    &__button-submit:hover &__button-icon {
        fill: $text-color-light;
    }
}

.password-error {
    @include text_styles(#B1B1B1, 13px, 300, normal);
}

@media screen and (max-width: 1024px) {
    .registration {
        flex-direction: column;
        row-gap: unset;
    }
}