.service {
    min-height: 341px;
    background-color: $background-color-dark;

    &__container{
        list-style-type: none;
        @include flex_row(30px);
        align-items: center;
        justify-content: center;
    }

    &__card {
        @include flex_column(16px);
        align-items: center;
        margin-top: 103px;
    }

    &__image {
        width: fit-content;
        height: fit-content;
    }

    &__title {
        @include text_styles($text-on-dark, 19.96px, 400, normal);
    }

    &__text {
        @include text_styles($text-on-dark, 14px, 300, normal);
        text-align: center;
        max-width: 360px;
    }
}

@media screen and (max-width: 1024px) {
    .service{
        &__container{
            flex-direction: column;
            column-gap: unset;
        }

        &__card {
            margin-top: 48px;
            margin-bottom: 64px;
        }
    }
}

@media screen and (max-width: 736px) {
    .service__text {
        max-width: 347.82px;
    }
}

@media screen and (max-width: 362px) {
    .service__text {
        max-width: 320px;
    }
}