// переменные для цветов
$background-color-main: #FFF;
$background-color-dark: #222;
$accent-color: #F16D7F;
$accent-color-dark: #EF5B70;
$text-color-light: #FFF;
$breadcrumb-divider: quote("/");
$accent-color-light: #F8F3F4;
$text-color-dark: #222;
$text-color-gray: #636363;
$text-on-dark: #FBFBFB;
$dropdown-bg: #ddd; //от балды! в макете не обозначено
$dropdowm-text-color: #6F6E6E;

// Переменные для шрифтов
$font-family-main: 'Lato, Arial, sans-serif';

// максимальная ширина контейнера
$max-container-width: 1600px;

// Переменные для отступов
$default-margin: 0;
$default-padding: 0;