@import 'vars';
@import 'mixins';
@import 'header';
@import 'burger-menu';
@import 'cart';
@import 'filter-sort';
@import 'description';
@import 'carousel';
@import 'navigation';
@import 'footer';
@import 'feedback';
@import 'service';
@import 'product';
@import 'sale';
@import 'promo';
@import 'registration';
@import 'pagination';



* {
    margin: $default-margin;
    padding: $default-padding;
}

.page {
    font-family: Lato, Arial, sans-serif;
    background-color: $background-color-main;
    margin: 0 auto;
}

button, input {
    font-family: Lato, Arial, sans-serif;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

@media screen and (max-width:1310px) {
    .center {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }
}
        
@media screen and (max-width:768px) {
    .center {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }
}
