* {
    margin: 0;
    padding: 0;
}

.page {
    font-family: Lato, Arial, sans-serif;
    max-width: 1600px;
    background-color: #FFF;
    margin: 0 auto;
}

/*  */
.header {
    width: 100%;
    min-height: 75px;
    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__container-left {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 231px;
    column-gap: 20px;
}

.header__logo {
    width: 44px;
    height: 38px;
}

.header__search-icon {
    width: 26.002px;
    height: 26.792px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7px;
}

.header__container-right {
    padding-right: 240px;
}

.header__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.header__link {
    text-decoration: none;
}

.header__icon-menu {
    width: 52px;
    height: 29px;
}

.burger__check {
    display: none;
}

.burger__check:checked + .burger-menu {
    display: flex;
    right: 0;
    row-gap: 12px;
}

.burger-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 75px;
    right: -235px;
    padding: 32px 0 32px 32px;
    background: #fff;
    z-index: 11;
    list-style: none;
    transition: all 0.5s;
}

.burger-menu__title {
    color: #222;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 24px;
}

.burger-menu__heading {
    color: #F16D7F;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 12px;
}

.burger-menu__section {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}

.burger-menu__item {
    color: #B1B1B1;
    font-size: 14px;
    font-weight: 400;
    padding-left: 22px;
    padding-right: 48px;
    text-decoration: none;
}

.burger-menu__item__item {
    padding-bottom: 11px;
}

.burger-menu__item:hover {
    color: #6F6E6E;
}

.promo {
    min-height: 764px;
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
}

.promo__image {
    background-image: url(./img/header-man.png);
    background-repeat: no-repeat;
    background-size: 800.58px 764px;
    background-position: left bottom;
    width: 100%;
}

.promo__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 91.42px;
}

.promo__decor {
    padding-right: 16px;
}

.promo__title {
    color: #222;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.promo__subtitle {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.promo__accent {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.sale {
    margin-top: 65px;
    margin-bottom: 96px;    
}
.sale__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.sale__items {
    list-style-type: none;
}

.sale__item {
    text-decoration: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    
}

.sale__item_small {
    min-width: 360px;
    max-height: 260px;
    aspect-ratio: 18/13;
}

.sale__item_large {
    min-width: 1138px;
    max-height: 180px;
    aspect-ratio: 1138/180;
}

.sale__item-1 {
    background-image: url(./img/sale1.png);
}

.sale__item-2 {
    background-image: url(./img/sale2.png);
}

.sale__item-3 {
    background-image: url(./img/sale3.png);
}

.sale__item-4 {
    background-image: url(./img/sale4.png);
}

.sale__item::before {
    content: "";
    background-color: rgba(33, 22, 22, 0.70);
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.3s;
}

.sale__text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
}

.sale__heading {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__title {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.product__subtitle{
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 48px;
}

.product__cards {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 25px;
    column-gap: 30px;
    margin-bottom: 48px;
}

.product__card {
    max-width: 360px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
}

.product__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    text-indent: 16px;
}

.product__image {
    width: 360px;
    height: 420px;
    padding-bottom: 24px;
}

.product__about {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    padding: 16px;
}

.product__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
    padding-bottom: 16px;
}

.product__btn_browse {
    width: 212px;
    height: 48px;
    background: #FFF;
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border: 1px solid #F26376;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.service {
    width: 100%;
    min-height: 341px;
    background-color: #222224;;
}

.service__container{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.service__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
    row-gap: 16px;
}

.service__image {
    width: fit-content;
    height: fit-content;
}

.service__title {
    color: #FBFBFB;
    font-size: 19.96px;
    font-weight: 400;
    line-height: normal;
}

.service__text {
    color: #FBFBFB;
    font-size: 13.972px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    max-width: 360px;
}

.feedback {
    width: 100%;
    min-height: 448px;
    background-image: url(./img/feedback-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback::before {
    content: "";
    background-color: rgba(244, 244, 244, 0.70);
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.feedback__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: space-evenly;

}

.feedback__quotation{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.feedback__image {
    width: 96px;
    min-width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}

.feedback__quote-text {
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    width: 359.449px;
    min-height: 99px;
}

.feedback__quote-accent {
    font-style: italic;
}

.feedback__subscibtion {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    justify-content: center;
}

.feedback__title {
    max-width: 360px;
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
    text-transform: uppercase;
    text-align: center;
    line-height: 167.2%; /* 40.128px */
}

.feedback__title-accent {
    font-size: 24px;
    font-weight: 700;
}

.feedback__form {
    letter-spacing: -4px;
}

.feedback__input{
    background-color: #E1E1E1;
    border: none;
    width: 256px;
    height: 49px;
    text-indent: 0%;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding-left: 22px;
}

.feedback__button {
    width: 100px;
    height: 49px;
    background: #F16D7F;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-indent: 0%;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.footer {
    width: 100%;
    min-height: 79px;
    background-color: #222224;
    display: flex;
    flex-direction: row;
}

.footer__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 14.69%;
    margin-right: 14.69%;
}

.footer__copyright {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.footer__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 7.29px;
}

.footer__link {
    list-style-type: none;
    text-decoration: none;
    background-color: #FFF;
    background-size: 31.451px 32px;
    padding: 8px;
    display: flex;

}

.footer__social-icon {
    width: 15px;
    height: 16px;
}

@media screen and (max-width: 1310px) {
    .promo__image {
    background-size: 386px 368px;
    }

    .promo {
        min-height: 368px;
    }

    .promo__container {
        padding-left: 5.08%;
    }

    .sale__container {
        gap: 20px;
    }

    .sale__item_small {
    min-width: 231.973px;
    max-height: 167.617px;
    }

    .sale__item_large {
        min-width: 734.581px;
        max-height: 116.043px;
    }

    .product__cards {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 17px;
        column-gap: 16px;
        margin-bottom: 32.48px;
    }
}

@media screen and (max-width: 1024px) {
    .header__container-left {
        padding-left: 4.17%;
    }

    .header__container-right {
        padding-right: 4.17%;
    }

    .promo__title {
        font-size: 44px;
    }

    .promo__subtitle {
        font-size: 24px;
    }
    
    .promo__accent {
        font-size: 24px;
    }

    .service__container{
        flex-direction: column;
        column-gap: unset;
    }

    .service__card {
        margin-top: 48px;
        margin-bottom: 64px;
    }

    .feedback__container {
        flex-direction: column;
        row-gap: 48px;
        margin-top: 64px;
        margin-bottom: 140px;
    }

    .footer__container {
        margin-left: 4.17%;
        margin-right: 4.17%;
    }
}

@media screen and (max-width: 736px) {
    .header__links {
        column-gap: unset;
    }
    .promo__container {
        padding-left: 17,5%;
    }

    .promo__image {
        display: none;
    }

    .sale__item_small {
        min-width: 343px;
    }
    
    .sale__item_large {
        min-width: 343px;
    }
    
    .product__cards {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 17px;
        column-gap: 16px;
        margin-bottom: 32.48px;
    }

    .product__image {
        width: 359px;
    }

    .service__text {
        max-width: 347.82px;
    }

    .header__icon-profile{
        display: none;
    }

    .header__icon-cart{
        display: none;
    }
    
    .feedback__input{
        width: 190px;
    }

    .feedback__quote-text {
        font-size: 18px;
        width: 320px;
    }

    .feedback__title {
        max-width: 271px;
    }

    .footer__container {
        flex-direction: column-reverse;
        margin-top: 43px;
        margin-bottom: 9px;
        row-gap: 40px;
    }
}

@media screen and (max-width: 362px) {
    .sale__item_small {
        min-width: 320px;
    }
    
    .sale__item_large {
        min-width: 320px;
    }
    .product__image {
        width: 320px;
    }
    .service__text {
        max-width: 320px;
    }
}